.mx-30 {
    margin: 0px 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-100 {
    width: 100px !important;
}

.bb-1 {
    border-bottom: 1px solid rgba(0, 0, 0, .01);

}

.b-1 {
    border: 1px solid rgba(0, 0, 0, 0.09);
}


.bb-1>input {
    border   : 0px;
    font-size: 16px;
    width    : 100%;
}

mat-form-field {
    width: 100%;
}

ngx-material-timepicker-toggle {
    right: 0%;
    float: right;
}

.ngx-material-timepicker-toggle {
    width: 24px !important;
}