table {
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.my-10{
    margin: 10px 0px;
}

.mr-10{
    margin-right: 10px;
}

.ml-10{
    margin-right: 10px;
}

.mx-10{
    margin: 0px 10px;
}

.px-10{
    padding: 0px 10px;
}
.py-10{
    padding: 10px 0px;
}
.p-10{
    padding: 10px;
}

.d-r{
    float: right;
}
.w-100{
    width: 100px;
}

tr:hover{
    background: #777;
}
tr:active{
    background: #777;
}